<div class="field {{ getWrapperClass() }}" [formGroup]="formGroup">
  <app-label
    [labelConfig]="getLabelConfig()">
  </app-label>
  <input
    [appDefaultAccessibility]="getElementData()"
    [attr.aria-invalid]="!valid()"

    id="{{elementData.inputId}}"
    formControlName="{{elementData.inputId}}"
    type="date"

    (focus)="toggleFocus(true)"
    (blur)="toggleFocus(false)"

    [ngClass]='{
      valid: valid(),
      invalid: invalid()
    }'/>

  <app-validation-container
    [valid]="valid()"
    [invalid]="invalid()"
    [showError]="showError()"
    [showHelp]="showHelp()"
    [elementData]="elementData">
  </app-validation-container>

</div>
