h2 {
  font-size: 12px;
  color: #5b6b8c;
  margin-top: -20px;
}

.controls {
  margin-top: 15px;
  display: block;
}

.disabled {
  background-color: lightgray;
  color: black;
  cursor: not-allowed;
}
