<app-form-wrapper [wrapperCssClass]="formOptions.wrapperCssClass">
  <h1>{{ formTitle }}</h1>
  <h2>{{ formSubtitle }}</h2>
  <app-form-element
    *ngFor="let element of form.elements"
    [formGroup]="form.formGroup"
    [formElement]="element.element">
  </app-form-element>
  <span class="controls">
    <button
      class="{{ formOptions.buttonCssClass || 'btn btn-primary' }}"
      [ngClass]="{ 'disabled' : !isValid() }"
      (click)="submit()">
      {{ formOptions.submitButtonLabel || 'Submit' }}
    </button>
    <button *ngIf="!hideClear" class="{{ formOptions.buttonCssClass || 'btn btn-primary' }}" (click)="clear()">{{ formOptions.clearButtonLabel || 'Clear' }}</button>
  </span>
</app-form-wrapper>
