<!-- WRAPPER -->
<div class="field form-group {{elementWrapperClass}}" [formGroup]="formGroup" xmlns="http://www.w3.org/1999/html">

  <!-- LABEL -->
  <app-label
    [labelConfig]="getLabelConfig()">
  </app-label>

  <!-- INPUT -->
  <textarea
    [appDefaultAccessibility]="getElementData()"
    [attr.aria-invalid]="!valid()"

    id="{{getId()}}"
    formControlName="{{elementData.inputId}}"

    (focus)="toggleFocus(true)"
    (blur)="toggleFocus(false)"

    type="textarea"
    class="form-control {{elementInputClass}}"
    [ngClass]='{
      valid: valid(),
      invalid: invalid()
    }'></textarea>

  <!-- VALIDATION MESSAGES -->
  <app-validation-messages [elementData]="elementData" [hasError]="invalid()" [hasFocus]="hasFocus()"></app-validation-messages>

</div>
