<div class="field {{ getWrapperClass() }}" [formGroup]="formGroup">
  <app-label
    [inputFocussed]="isFocussed"
    [elementData]="elementData"
    [requiredMarker]="getRequiredMarker()"
    [inputHasValue]="!!formGroup.get(elementData.inputId).value"></app-label>
  <input
    [attr.aria-label]="getAria('label')"
    [attr.aria-labelledby]="elementData.inputId + '_label'"
    id="{{elementData.inputId}}"
    formControlName="{{elementData.inputId}}"
    (focus)="toggleFocus(true)"
    (blur)="toggleFocus(false)"
    type="text"
    [ngClass]='{
      valid: valid(),
      invalid: invalid()
    }'/>
  <span class="validation-icon">
    <app-success-icon *ngIf="valid()"></app-success-icon>
    <app-error-icon *ngIf="invalid()"></app-error-icon>
    <app-help-icon *ngIf="showHelp()" (click)="toggleHelp()"></app-help-icon>
  </span>
  <app-help-text *ngIf="helpVisible" [elementData]="elementData"></app-help-text>
  <app-error-message *ngIf="showError()" [message]="elementData.errorText"></app-error-message>
</div>
