<div class="field {{ getWrapperClass() }}" [formGroup]="formGroup">
  <app-label [elementData]="elementData" [requiredMarker]="getRequiredMarker()"></app-label>
  <input
    [attr.aria-label]="getAria('label')"
    [attr.aria-labelledby]="elementData.inputId + '_label'"
    id="{{elementData.inputId}}"
    formControlName="{{elementData.inputId}}"
    type="text"
    [ngClass]='{
      valid: valid(),
      invalid: invalid()
    }'/>
  <app-success-icon *ngIf="valid()"></app-success-icon>
  <app-error-icon *ngIf="invalid()"></app-error-icon>
  <app-help-text *ngIf="showHelp()" [elementData]="elementData"></app-help-text>
  <app-error-message *ngIf="showError()" [message]="elementData.errorText"></app-error-message>
</div>
