@import './../form-elements/form-element.base';


.field {
  position: relative;
}

fieldset {
  &.valid {
    border-color: $valid-green;
    box-shadow: inset 0 2px 4px 0 rgba(81, 182, 99, 0.16);
  }

  &.invalid {
    border-color: $invalid-red;
    box-shadow: inset 0 2px 4px 0 rgba(227, 78, 80, 0.16);
  }
}

label {
  display: block;
  margin: 0 0 15px 15px;
  font-weight: 600;
  color: gray;
}
