<!-- WITH OPTION GROUPS -->
<span [formGroup]="formGroup" class="field {{getWrapperClass()}}">
  <app-label
    [labelConfig]="getLabelConfig()">
  </app-label>
  <select

    [appDefaultAccessibility]="getElementData()"
    [attr.aria-invalid]="!valid()"

    formControlName="{{elementData.inputId}}"
    *ngIf="elementData.optionGroups"
    id="{{elementData.inputId}}"
    name="{{elementData.inputId}}"

    [ngClass]='{
      valid: valid(),
      invalid: invalid()
    }'
  >

    <optgroup *ngFor="let optionGroup of elementData.optionGroups" label="{{optionGroup.groupName}}">
      <option
        *ngFor="let option of optionGroup.options"
        value="{{option.value}}"
        [attr.aria-selected]="isSelected(option)">{{option.display}}</option>
    </optgroup>
  </select>


  <app-validation-container
    [valid]="valid()"
    [invalid]="invalid()"
    [showError]="showError()"
    [showHelp]="showHelp()"
    [elementData]="elementData"
    [cssClassOverride]="'select-validation'">
  </app-validation-container>
</span>
