<!-- WITH OPTION GROUPS -->
<span [formGroup]="formGroup" class="field form-group {{elementWrapperClass}}">

  <!-- INPUT LABEL -->
  <app-label
    [labelConfig]="getLabelConfig()">
  </app-label>

  <!-- INPUT FIELD -->
  <select

    [appDefaultAccessibility]="getElementData()"
    [attr.aria-invalid]="!valid()"

    (click)="activateValidationListener()"

    formControlName="{{elementData.inputId}}"
    *ngIf="elementData.optionGroups"
    id="{{elementData.inputId}}"
    name="{{elementData.inputId}}"
    class="form-control {{elementInputClass}}"
    [ngClass]='{
      valid: valid(),
      invalid: invalid()
    }'
  >

    <!-- OPTION GROUPS -->
    <optgroup *ngFor="let optionGroup of elementData.optionGroups" label="{{optionGroup.groupName}}">

      <!-- OPTIONS -->
      <option *ngFor="let option of optionGroup.options" value="{{option.value}}">{{option.display}}</option>

    </optgroup>

  </select>

  <!-- VALIDATION MESSAGES -->
  <app-validation-messages [elementData]="elementData" [hasError]="invalid()" [hasFocus]="hasFocus()"></app-validation-messages>

</span>
