<app-field-group
  [groupTitle]="elementData.label"
  [valid]="valid()"
  [invalid]="!valid() && touched()"
  [formGroup]="formGroup">
  <input
    [attr.aria-label]="getAria('label')"
    [attr.aria-labelledby]="elementData.inputId + '_label'"
    [attr.aria-required]="elementData.required"
    [attr.aria-invalid]="!valid()"
    id="{{elementData.inputId}}"
    formControlName="{{elementData.inputId}}"
    (focus)="toggleFocus(true)"
    (blur)="toggleFocus(false)"
    type="range"
    min="{{elementData.minLength}}"
    max="{{elementData.maxLength}}"
    [ngClass]='{
      valid: valid(),
      invalid: invalid()
    }'/>
  <span class="range-value">{{formGroup.get(elementData.inputId).value || 0}}</span>
  <app-validation-container
    [valid]="valid()"
    [invalid]="invalid()"
    [showError]="showError()"
    [showHelp]="showHelp()"
    [elementData]="elementData"
    [cssClassOverride]="'range-validation'">
  </app-validation-container>
</app-field-group>
