<app-field-group
  [groupTitle]="elementData.label"
  [valid]="valid()"
  [invalid]="!valid() && touched()"
  [labelConfig]="getLabelConfig()"
  [formGroup]="formGroup">

  <input
    [attr.aria-valuenow]="formGroup.get(elementData.inputId).value"
    [attr.aria-valuemin]="elementData.minLength"
    [attr.aria-valuemax]="elementData.maxLength"
    [attr.aria-valuetext]="toValueText(formGroup.get(elementData.inputId).value)"
    [attr.aria-labelledby]="elementData.inputId + '_label'"
    [attr.role]="'slider'"

    id="{{elementData.inputId}}"
    formControlName="{{elementData.inputId}}"
    type="range"

    (focus)="toggleFocus(true)"
    (blur)="toggleFocus(false)"

    min="{{elementData.minLength}}"
    max="{{elementData.maxLength}}"


    [ngClass]='{
      valid: valid(),
      invalid: invalid()
    }'/>

  <span class="range-value">{{formGroup.get(elementData.inputId).value || 0}}</span>
  <app-validation-container
    [valid]="valid()"
    [invalid]="invalid()"
    [showError]="showError()"
    [showHelp]="showHelp()"
    [elementData]="elementData"
    [cssClassOverride]="'range-validation'">
  </app-validation-container>
</app-field-group>
