<app-field-group
  [groupTitle]="elementData.label"
  [valid]="valid()"
  [invalid]="!valid() && touched()"
  [wrapperCssClass]="elementWrapperClass"
  [fieldsetCssClass]="elementFieldsetClass"
  [labelConfig]="getLabelConfig()"
  [formGroup]="formGroup">

  <!-- INPUT -->
  <input
    [appDefaultAccessibility]="getElementData()"
    id="{{getId()}}"
    formControlName="{{elementData.inputId}}"
    type="range"

    (focus)="toggleFocus(true)"
    (blur)="toggleFocus(false)"
    class="{{elementInputClass}}"
    min="{{elementData.minLength}}"
    max="{{elementData.maxLength}}"
    [attr.aria-labelledby]="elementData.inputId + '_label'"

    [ngClass]='{
      valid: valid(),
      invalid: invalid()
    }'/>

  <!-- RANGE VALUE DISPLAY -->
  <span class="range-value">{{formGroup.get(elementData.inputId).value || 0}}</span>

  <!-- VALIDATION MESSAGES -->
  <app-validation-messages [elementData]="elementData" [hasError]="invalid()" [hasFocus]="hasFocus()"></app-validation-messages>
</app-field-group>
