<div class="container-fluid page">
  <div class="row section">
    <h1 class="title">API Reference</h1>
    <h2 class="subtitle">All the nity gritty details..</h2>
  </div>

  <!-- FormDefinition -->
  <div id="FormDefinition" class="row section">
    <h1 class="title">FormDefinition</h1>
    <h2 class="subtitle">All the nity gritty details..</h2>
    <p>
      <img src="./assets/soon/1.jpg"/>
    </p>
  </div>

  <!-- FormElement -->
  <div id="FormElement" class="row section">
    <h1 class="title">FormElement</h1>
    <h2 class="subtitle">All the nity gritty details..</h2>
    <p>
      <img src="./assets/soon/2.jpg"/>
    </p>
  </div>

  <!-- ComponentValue -->
  <div id="ComponentValue" class="row section">
    <h1 class="title">ComponentValue</h1>
    <h2 class="subtitle">All the nity gritty details..</h2>
    <p>
      <img src="./assets/soon/3.jpg"/>
    </p>
  </div>

  <!-- FormElementOptions -->
  <div id="FormElementOptions" class="row section">
    <h1 class="title">FormElementOptions</h1>
    <h2 class="subtitle">All the nity gritty details..</h2>
    <p>
      <img src="./assets/soon/4.jpg"/>
    </p>
  </div>

  <!-- ElementOption -->
  <div id="ElementOption" class="row section">
    <h1 class="title">ElementOption</h1>
    <h2 class="subtitle">All the nity gritty details..</h2>
    <p>
      <img src="./assets/soon/5.jpg"/>
    </p>
  </div>

  <!-- ElementOptionGroup -->
  <div id="ElementOptionGroup" class="row section">
    <h1 class="title">ElementOptionGroup</h1>
    <h2 class="subtitle">All the nity gritty details..</h2>
    <p>
      <img src="./assets/soon/6.jpg"/>
    </p>
  </div>

  <!-- FormDetails -->
  <div id="FormDetails" class="row section">
    <h1 class="title">FormDetails</h1>
    <h2 class="subtitle">All the nity gritty details..</h2>
    <p>
      <img src="./assets/soon/7.jpg"/>
    </p>
  </div>

  <!-- FormElementConfig -->
  <div id="FormElementConfig" class="row section">
    <h1 class="title">FormElementConfig</h1>
    <h2 class="subtitle">All the nity gritty details..</h2>
    <p>
      <img src="./assets/soon/8.jpg"/>
    </p>
  </div>

</div>
