<app-field-group
  [groupTitle]="elementData.label"
  [valid]="isValid()"
  [invalid]="!isValid() && isTouched()"
  [labelConfig]="getLabelConfig()"
  [formGroup]="formGroup">
  <span *ngFor="let optionGroup of elementData.optionGroups" id="{{toInputId(optionGroup.groupName)}}_checkbox_optionGroup">

    <!-- Group Label -->
    <label
      [attr.aria-label]="toInputId(optionGroup.groupName) + '_optionGroup_label'"
      for="{{toInputId(optionGroup.groupName)}}_checkbox_optionGroup"
      class="{{getGroupLabelClass() || 'groupLabel'}}">
      {{optionGroup.groupName}}
    </label>

    <!-- Option Groups -->
    <span
      *ngFor="let option of optionGroup.options"
      [formGroup]="checkboxGroup"
      [attr.labelledby]="toInputId(optionGroup.groupName) + '_optionGroup_label'">

      <!-- Checkbox -->
      <input
         formControlName="{{option.value}}"
         id="{{option.value + '_id'}}"
         type="checkbox"
         name="{{elementData.inputId}}"
         value="{{option.value}}"

         [appDefaultAccessibility]="getElementData(option)"

         [attr.aria-invalid]="!valid()"
         [attr.aria-checked]="isSelected(option.value)"
         [attr.checked]="isSelected(option.value)">

      <!-- Checkbox Label -->
      <label
         for="{{option.value + '_id'}}">
         {{option.display}}
      </label><br>

    </span>

  </span>

  <!-- Validation Container -->
  <app-validation-container
    [valid]="isValid()"
    [invalid]="!isValid() && isTouched()"
    [showError]="showCheckboxError()"
    [showHelp]="showHelp()"
    [elementData]="elementData"
    [cssClassOverride]="'fieldset-validation'">
  </app-validation-container>

</app-field-group>
