<app-field-group
  [groupTitle]="elementData.label"
  [valid]="isValid()"
  [invalid]="!isValid() && isTouched()"
  [labelConfig]="getLabelConfig()"
  [formGroup]="formGroup">
  <span *ngFor="let optionGroup of elementData.optionGroups" id="{{toInputId(optionGroup.groupName)}}_checkbox_optionGroup">

    <!-- Option Group Label -->
    <app-group-label
      [labelConfig]="getLabelConfig()"
      [groupName]="optionGroup.groupName"
      [cssParent]="getGroupLabelClass()">
    </app-group-label>

    <!-- Option Groups -->
    <span
      *ngFor="let option of optionGroup.options"
      [formGroup]="checkboxGroup"
      [attr.labelledby]="toInputId(optionGroup.groupName) + '_optionGroup_label'">

      <!-- Checkbox -->
      <input id="{{option.value + '_id'}}" type="checkbox" name="{{elementData.inputId}}" value="{{option.value}}"

             formControlName="{{option.value}}"
             (click)="activateValidationListener()"
             [appDefaultAccessibility]="getElementData(option)"
             [attr.aria-invalid]="!valid()">

      <!-- Checkbox Label -->
      <label
         for="{{option.value + '_id'}}">
         {{option.display}}
      </label><br>

    </span>

  </span>

  <!-- VALIDATION MESSAGES -->
  <app-validation-messages [elementData]="elementData" [hasError]="invalid()" [hasFocus]="hasFocus()"></app-validation-messages>

</app-field-group>
