<div *ngIf="formElement" [ngSwitch]="formElement.type">
  <app-text-input [cssClass]="classOverride" *ngSwitchCase="'text'" [formGroup]="formGroup" [elementData]="formElement"></app-text-input>
  <app-password-input [cssClass]="classOverride" *ngSwitchCase="'password'" [formGroup]="formGroup" [elementData]="formElement"></app-password-input>
  <app-dropdown-question [cssClass]="classOverride" *ngSwitchCase="'select'" [formGroup]="formGroup" [elementData]="formElement"></app-dropdown-question>
</div>
