<div class="field {{ getWrapperClass() }}" [formGroup]="formGroup">
  <label [id]="elementData.inputId + '_label'" for="{{elementData.inputId}}">
    {{elementData.label}}
    <span class="required-label" *ngIf="elementData.required">
      {{ getRequiredMarker()}}
    </span>
  </label>
  <input
    [attr.aria-label]="getAria('label')"
    [attr.aria-labelledby]="elementData.inputId + '_label'"
    id="{{elementData.inputId}}"
    formControlName="{{elementData.inputId}}"
    type="password"/>
  <span class="help-text" *ngIf="elementData.helpText && helpShown" (click)="toggleHelp()">{{ elementData.helpText }}</span>
</div>
