<div class="form-group {{elementWrapperClass}}" [formGroup]="formGroup">

  <!-- INPUT LABEL -->
  <app-label
    [labelConfig]="getLabelConfig()">
  </app-label>

  <!-- INPUT FIELD -->
  <input
    [appDefaultAccessibility]="getElementData()"
    [attr.aria-invalid]="!valid()"

    id="{{elementData.inputId}}"
    formControlName="{{elementData.inputId}}"

    (focus)="toggleFocus(true)"
    (blur)="toggleFocus(false)"
    type="password"
    class="form-control {{elementInputClass}}"

    [ngClass]='{
      valid: valid(),
      invalid: invalid()
    }'/>

  <!-- VALIDATION MESSAGES -->
  <app-validation-messages [elementData]="elementData" [hasError]="invalid()" [hasFocus]="hasFocus()"></app-validation-messages>

</div>
