<!--The content below is only a placeholder and can be replaced.-->
<h1>Simple Wrapped Form</h1>
<app-form [form]="simpleWrappedForm"></app-form>

<h1>Simple Unwrapped Form</h1>
<app-form-element [formGroup]="simpleUnwrappedForm.formGroup" [formElement]="simpleUnwrappedForm.get('simpleOne')"></app-form-element>
<app-form-element [formGroup]="simpleUnwrappedForm.formGroup" [formElement]="simpleUnwrappedForm.get('simpleTwo')"></app-form-element>
<app-form-element [formGroup]="simpleUnwrappedForm.formGroup" [formElement]="simpleUnwrappedForm.get('simpleThree')"></app-form-element>
<app-form-element [formGroup]="simpleUnwrappedForm.formGroup" [formElement]="simpleUnwrappedForm.get('simpleFour')"></app-form-element>
<!-- Doesn't exist - Should not render, or be part of formGroup -->
<app-form-element [formGroup]="simpleUnwrappedForm.formGroup" [formElement]="simpleUnwrappedForm.get('simpleFive')"></app-form-element>
<button (click)="unwrappedSubmit()">Submit Unwrapped</button>
