<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <app-form-wrapper *ngIf="unwrapped" [wrapperCssClass]="'default-theme'">
        <h1>Unwrapped Form</h1>
        <h5>An unwrapped form creates the formGroup, but leaves elements free to be used.</h5>

        <!-- Same column widths example -->
        <div class="row">
          <div class="col-xs-6">
            <app-form-element
              [formGroup]="simpleForm.formGroup"
              [formElement]="simpleForm.get('simpleOne')">
            </app-form-element>
          </div>
          <div class="col-xs-6">
            <app-form-element
              [formGroup]="simpleForm.formGroup"
              [formElement]="simpleForm.get('simpleTwoInputId')">
            </app-form-element>
          </div>
        </div>

        <!-- Different column widths example -->
        <div class="row">
          <div class="col-xs-8">
            <app-form-element
              [formGroup]="simpleForm.formGroup"
              [formElement]="simpleForm.get('simpleThree')">
            </app-form-element>
          </div>
          <div class="col-xs-4">
            <app-form-element
              [formGroup]="simpleForm.formGroup"
              [formElement]="simpleForm.get('simpleFour')">
            </app-form-element>
          </div>
        </div>

        <!-- Grouped elements accessibility example -->
        <div class="row">
          <div class="col-xs-12">
            <app-field-group [groupTitle]="'Grouped Input Fields'" [wrapperCssClass]="'input-fieldset'">
            <div class="col-xs-4">
              <app-form-element
                [formGroup]="simpleForm.formGroup"
                [formElement]="simpleForm.get('simpleFive')">
              </app-form-element>
            </div>
            <div class="col-xs-8">
              <app-form-element
                [formGroup]="simpleForm.formGroup"
                [formElement]="simpleForm.get('simpleSix')">
              </app-form-element>
            </div>
            <div class="col-xs-12">
              <app-form-element
                [formGroup]="simpleForm.formGroup"
                [formElement]="simpleForm.get('simpleSeven')">
              </app-form-element>
            </div>
            <div class="col-xs-12">
              <app-form-element
                [formGroup]="simpleForm.formGroup"
                [formElement]="simpleForm.get('simpleEight')">
              </app-form-element>
            </div>
          </app-field-group>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <app-form-element
              [formGroup]="simpleForm.formGroup"
              [formElement]="simpleForm.get('simpleCheckboxGroup')">
            </app-form-element>
          </div>
          <div class="col-xs-6">
            <app-form-element
              [formGroup]="simpleForm.formGroup"
              [formElement]="simpleForm.get('simpleRadioGroup')">
            </app-form-element>
          </div>
        </div>
        <button class="btn btn-primary"
                *ngIf="simpleForm.formGroup.valid"
                (click)="unwrappedSubmit()">Submit Unwrapped</button>
      </app-form-wrapper>
      <app-form
        #wrappedForm
        *ngIf="!unwrapped"
        [form]="simpleForm"
        [formTitle]="'Wrapped Form'"
        [formSubtitle]="'Simple form, wrapped in a container with linear elements'"
        [formOptions]="{
          wrapperCssClass: 'default-theme'
        }"></app-form>
    </div>
    <div class="col-xs-12 col-md-6">
      <app-form-wrapper>
        <pre>{{ simpleForm.formGroup.getRawValue() | json }}</pre>
        <pre>Form Valid: {{ simpleForm.formGroup.valid }}</pre>
        <pre>Errors: {{ getErrors() | json }}</pre>

        <fieldset class="test-options">
          <legend>Test Options</legend>
          <button (click)="toggle()" class="btn btn-success">Switch Form Type</button>
          <button (click)="updateButtonLabel()" *ngIf="!unwrapped" class="btn btn-warning">Update Button Label Dynamically</button>
          <button (click)="updateDemoConfig()" class="btn btn-warning">Update Form Configuration</button>
          <button (click)="addHelpTextToElement('Here is some dynamically added helptext!', 'simpleEight')" class="btn btn-danger">
            Dynamically add helptext to element
          </button>
        </fieldset>
      </app-form-wrapper>
    </div>
  </div>
</div>
