// Set theme variables
$valid-green: #51b663;
$invalid-red: #e34e50;
$question-blue: #4683ff;

// Add theme name as overall wrapper class in form config
.default-theme {

  // All elements are wrapped in .field for specificity
  .field {

    input {
      background-color: white;
      border: 1px solid #bdbdbd;
      border-radius: 15px;
      text-indent:  10px;
      padding: 5px;

      &.valid {
        border-color: $valid-green;
      }

      &.invalid {
        border-color: $invalid-red;
      }

    }

    .icon-wrapper {
      .icon {
        margin-right: 10px;
      }
    }

    .validation-icon {
      position: absolute;
      right: 9px;
      top: 34px;
      font-size: 16px;

      &.valid {
        color: $valid-green;
      }

      &.invalid {
        color: $invalid-red;
      }

      &.question {
        color: $question-blue;
      }
    }

    .input-fieldset {
        padding-top: 45px;

        legend {
          padding-left: 15px;
          padding-top: 10px;
          font-weight: bold;
        }

    }

    fieldset {
      border: none;
      border-radius: 15px;
      background-color: #efefef;
      margin: 10px 0;
      position: relative;
      padding: 30px 15px 10px;

      legend {
        position: absolute;
        top: 5px;
      }

      input[type="checkbox"], input[type="radio"] {
        margin-right: 15px;
      }
    }

  }
}
