// Add theme name as overall wrapper class in form config
.default-theme {

  // All elements are wrapped in .field for specificity
  .field {

    input {
      background-color: white;
      border: 1px solid #bdbdbd;
      border-radius: 15px;
      text-indent:  10px;
      padding: 5px;
    }

    .icon-wrapper {
      .icon {
        margin-right: 10px;
      }
    }

    .input-fieldset {
        padding-top: 45px;

        legend {
          padding-left: 15px;
          padding-top: 10px;
          font-weight: bold;
        }

    }

    fieldset {
      border: none;
      border-radius: 15px;
      background-color: #efefef;
      margin: 10px 0;
      position: relative;
      padding: 30px 15px 10px;

      legend {
        position: absolute;
        top: 5px;
      }

      input[type="checkbox"], input[type="radio"] {
        margin-right: 15px;
      }
    }

  }
}
