<div class="sidebar">
  <div class="row">
    <img [routerLink]="'/'" alt="ng2 Simple Forms" class="logo" src="./assets/logo.png">
  </div>
  <!--<div class="row">-->
    <!--<h1>Installation</h1>-->
    <!--<app-link [theme]="'dark'" [route]="'/via-npm'" [label]="'Via NPM'" [additionalLabel]="'SOON!'"></app-link>-->
    <!--<app-link [theme]="'dark'" [route]="'/via-modules'" [label]="'Via Modules'"></app-link>-->
  <!--</div>-->
  <div class="row">
    <h1>Basic Usage</h1>
    <app-link [theme]="'dark'" [route]="'/creating-elements'" [label]="'Creating Elements'"></app-link>
    <app-link [theme]="'dark'" [route]="'/formgroups'" [label]="'Form Groups'"></app-link>
    <app-link [theme]="'dark'" [route]="'/rendering-elements'" [label]="'Rendering Elements'"></app-link>
  </div>
  <div class="row">
    <h1>Advanced Usage</h1>
    <app-link [theme]="'dark'" [route]="'/unwrapped-form'" [label]="'Unwrapped Forms'"></app-link>
    <app-link [theme]="'dark'" [route]="'/wrapped-form'" [label]="'Wrapped Forms'"></app-link>
    <app-link [theme]="'dark'" [route]="'/from-json'" [label]="'Forms from JSON'"></app-link>
  </div>
  <div class="row">
    <h1>API Reference</h1>
    <app-link [theme]="'dark'" [route]="'/api/FormElement'" [label]="'FormElement'"></app-link>
    <app-link [theme]="'dark'" [route]="'/api/ElementOption'" [label]="'ElementOption'"></app-link>
    <app-link [theme]="'dark'" [route]="'/api/ElementOptionGroup'" [label]="'ElementOptionGroup'"></app-link>
    <app-link [theme]="'dark'" [route]="'/api/FormDetails'" [label]="'FormDetails'"></app-link>
    <app-link [theme]="'dark'" [route]="'/api/ComponentValue'" [label]="'ComponentValue'"></app-link>
    <app-link [theme]="'dark'" [route]="'/api/FormElementOptions'" [label]="'FormElementOptions'"></app-link>
    <app-link [theme]="'dark'" [route]="'/api/FormElementConfig'" [label]="'FormElementConfig'"></app-link>
  </div>
  <div class="row">
    <h1>Component Reference</h1>
    <app-link [theme]="'dark'" [route]="'/components/TextInput'" [label]="'Text Input'"></app-link>
    <app-link [theme]="'dark'" [route]="'/components/PasswordInput'" [label]="'Password Input'"></app-link>
    <app-link-with-sub [theme]="'dark'" [label]="'Select Input'" [subLinks]="[
        {
          label: 'Grouped Select',
          route: '/components/GroupedSelect'
        },
        {
          label: 'Ungrouped Select',
          route: '/components/UngroupedSelect'
        }]">
    </app-link-with-sub>
    <app-link-with-sub [theme]="'dark'" [label]="'Radio Input'" [subLinks]="[
        {
          label: 'Grouped Radio',
          route: '/components/GroupedRadio'
        },
        {
          label: 'Ungrouped Select',
          route: '/components/UngroupedRadio'
        }]">
    </app-link-with-sub>
    <app-link-with-sub [theme]="'dark'" [label]="'Checkbox Input'" [subLinks]="[
        {
          label: 'Grouped Checkboxes',
          route: '/components/GroupedCheckboxes'
        },
        {
          label: 'Ungrouped Checkboxes',
          route: '/components/UngroupedCheckboxes'
        }]">
    </app-link-with-sub>
    <app-link [theme]="'dark'" [route]="'/components/DatePicker'" [label]="'Date Input'"></app-link>
    <app-link [theme]="'dark'" [route]="'/components/ToggleSwitch'" [label]="'Toggle Input'"></app-link>
    <app-link [theme]="'dark'" [route]="'/components/Range'" [label]="'Range Input'"></app-link>
    <app-link [theme]="'dark'" [route]="'/components/ObjectSelet'" [label]="'Object Selector'"></app-link>
  </div>
  <div class="row">
    <h1>Styling</h1>
    <app-link [theme]="'dark'" [route]="'/style-guide'" [label]="'Default Styles'"></app-link>
    <app-link [theme]="'dark'" [route]="'/css-helpers'" [label]="'CSS Helpers'"></app-link>
  </div>
  <div class="row">
    <h1>Other Features</h1>
    <app-link [theme]="'dark'" [route]="'/accessibility'" [label]="'Accessibility'"></app-link>
    <app-link [theme]="'dark'" [route]="'/testing'" [label]="'e2e Testing'"></app-link>
  </div>
</div>
