/// COLOURS
$valid-green: #28a745;
$invalid-red: #dc3545;
$question-blue: #17a2b8;
$warning-yellow: #ffc107;

/// SHADOWS AND BORDERS
$inset-shadow: inset 0 2px 4px 0 rgba(78, 78, 78, 0.08);
$field-border: 1px solid #dfdfdf;
