<!-- WITH NO OPTION GROUPS -->
<span [formGroup]="formGroup" class="field {{getWrapperClass()}}">
  <app-label [labelConfig]="getLabelConfig()"></app-label>
    <select

      [appDefaultAccessibility]="getElementData()"
      [attr.aria-invalid]="!valid()"

      formControlName="{{elementData.inputId}}"
      *ngIf="!elementData.optionGroups"
      id="{{elementData.inputId}}"
      name="{{elementData.inputId}}"

      [ngClass]='{
      valid: valid(),
      invalid: invalid()
    }'>

      <option
        *ngFor="let option of elementData.options"
        value="{{option.value}}"
        [attr.aria-selected]="isSelected(option)">{{option.display}}</option>

    </select>

  <app-validation-container
    [valid]="valid()"
    [invalid]="invalid()"
    [showError]="showError()"
    [showHelp]="showHelp()"
    [elementData]="elementData"
    [cssClassOverride]="'select-validation'">
  </app-validation-container>

</span>
