<div class="container-fluid page">
  <div class="row section">
    <h1 class="title">CSS Helpers</h1>
    <h2 class="subtitle">Dynamic classes added to elements</h2>
  </div>

  <div class="row section">
    <h1 class="title">Label</h1>
    <h2 class="subtitle">Dynamic classes added to labels</h2>
    <p>
      Sometimes, you may wish to apply css to labels depending on the form input state. SimpleForms adds certain classes based on the
      state of the input to make this easier, simply override the styles you want. <br><br>
      <strong>NB. By default, SimpleForms adds NO styling to these classes, so if you don't override them, there'll be no visible change)</strong>
    </p>
    <pre class="prettycontain lang-css"><code>.input-focussed</code></pre>
    <p>Applied when the input field corresponding to the label has focus.</p>
    <pre class="prettycontain lang-css"><code>.has-value</code></pre>
    <p>Applied when the input field corresponding to the label has a value that isn't <code>null</code> or <code>undefined</code></p>
    <pre class="prettycontain lang-css"><code>.valid</code></pre>
    <p>Applied when the input field corresponding to the label is valid and has been touched.</p>
    <pre class="prettycontain lang-css"><code>.invalid</code></pre>
    <p>Applied when the input field corresponding to the label is invalid and has been touched.</p>
  </div>
</div>
