@import '../../../../variables';


.help-message {
  text-decoration: dotted underline $question-blue;
  color: $question-blue;
  display: block;
  height: 0;
  overflow: hidden;

  &.has-focus {
    height: auto;
  }

  &:hover {
    cursor: help;
  }
}

.error-message {
  text-decoration: dotted underline $invalid-red;
  color: $invalid-red;
  display: block;
  height: 0;
  overflow: hidden;

  &.has-error {
    height: auto;
  }

  &:hover {
    cursor: not-allowed;
  }
}
