/* You can add global styles to this file, and also import other style files */

// BOOTSTRAP GRID
@import "assets/bootstrap/variables.scss";
@import "assets/bootstrap/mixins.scss";
@import "assets/bootstrap/normalize.scss";
@import "assets/bootstrap/print.scss";
@import "assets/bootstrap/scaffolding.scss";
@import "assets/bootstrap/grid.scss";
@import "assets/bootstrap/utilities.scss";
@import "assets/bootstrap/responsive-utilities.scss";

// BOOTSTRAP BUTTONS
@import "assets/bootstrap/buttons.scss";

// GLYPHICONS
@import "assets/bootstrap/_glyphicons.scss";

body {
  background-color: #efefef;
  font-family: 'Tahoma', sans-serif;
}

.section {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  margin: 5px 0;
}
h1 {

  &.title {
    margin: 0;
    font-size: 18px;

    &.main {
      font-size: 22px;
    }
  }
}

h2 {
  color: grey;

  &.subtitle {
    font-size: 14px;
    margin: 5px 0;
  }
}



/// THEMES
@import './themes';


pre {
  padding: 15px;
  border: 1px dotted grey;
  border-radius: 5px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
