/* You can add global styles to this file, and also import other style files */

// BOOTSTRAP GRID
@import "assets/bootstrap/variables.scss";
@import "assets/bootstrap/mixins.scss";
@import "assets/bootstrap/normalize.scss";
@import "assets/bootstrap/print.scss";
@import "assets/bootstrap/scaffolding.scss";
@import "assets/bootstrap/grid.scss";
@import "assets/bootstrap/utilities.scss";
@import "assets/bootstrap/responsive-utilities.scss";

// BOOTSTRAP BUTTONS
@import "assets/bootstrap/buttons.scss";

// BOOTSTRAP TABLES
@import "assets/bootstrap/_tables.scss";

// GLYPHICONS
@import "assets/bootstrap/_glyphicons.scss";

body {
  background-color: #efefef;
  font-family: 'Open Sans', sans-serif;
}

.page {
  padding-left: 250px;
  padding-right: 50px;
  padding-top: 30px;
}

blockquote {
  border-left: 3px solid #72c2ff;
  padding-left: 15px;
  margin-left: 15px;
  background-color: rgba(159, 222, 255, 0.11);
  padding: 15px;
  border-radius: 0 5px 5px 0;
}

//code {
//  color: blueviolet;
//}

strong {
  color: #111d26;
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.banner {
  max-height: 300px;
}

.strike {
  text-decoration: line-through;
}
.section {
  padding: 15px 50px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 30px;
}

code {
  color: #00b3ee;

  &.secondary {
    color: #ca4800;
  }
}

h1 {

  &.title {
    margin: 0;
    font-size: 18px;

    &.main {
      font-size: 22px;
    }
  }
}

h2 {
  color: grey;

  &.subtitle {
    font-size: 14px;
    margin: 5px 0;
  }
}

.no-marg {
  &.left {
    margin-left: -15px;
    float: left;
  }

  &.right {
    margin-right: -15px;
    float: right;
  }
}


/// THEMES
@import './themes';


/// CODE BLOCK STYLES
pre, pre.prettyprint {
  padding: 15px;
  border: 1px dotted grey;
  border-radius: 5px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #fff; } /* punctuation - white */
pre .pln, code .pln { color: #fff; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint, pre.prettycontain {
  background-color: #1a2229;
  border-radius: 8px;
}

pre.prettyprint, pre.prettycontain {
  width: 100%;
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}


//// CONFIG EXAMPLE

.myFormWrapper {
  background-color: #1a2229;
  padding: 0 20px 20px;
  border-radius: 3px;
  border: 1px solid lighten(#1a2229, 5%);
  color: #00b3ee;

  .myElementClass {

    input {
      border-radius: 3px;
      border: 1px solid #455563;
      background-color: #2e3c48;
      color: #72c2ff;
      padding-top: 10px;
      text-indent: 10px;
     }

    .validation-icon {
      font-size: 20px;
      top: 4px;
    }

  }

  .myButton {
    color: #72c2ff;
    background-color: #2e3c48;
    border-radius: 2px;
    border: 1px solid #455563;
    padding: 12px 10px;

    &:hover {
      cursor: pointer;
      background-color: lighten(#2e3c48, 5%);
    }
  }
}
