<app-field-group
  [groupTitle]="elementData.label"
  [valid]="isValid()"
  [invalid]="!isValid() && isTouched()"
  [labelConfig]="getLabelConfig()"
  [formGroup]="formGroup">

  <span *ngFor="let option of elementData.options" [formGroup]="checkboxGroup">

     <!-- Checkbox -->
     <input
       formControlName="{{option.value}}"
       id="{{elementData.inputId}}_{{option.value}}_id"
       type="checkbox"
       name="{{elementData.inputId}}"
       value="{{option.value}}"

       [appDefaultAccessibility]="getElementData(option)"

       [attr.aria-invalid]="!valid()"
       [attr.aria-checked]="isSelected(option.value)"
       [attr.checked]="isSelected(option.value)">

     <!-- Checkbox Label -->
    <label
      [attr.aria-label]="option.display"
      [attr.data-test-id]="elementData.getTestId(option.value + '_label')"
      for="{{elementData.inputId}}_{{option.value}}_id">{{option.display}}</label><br>

  </span>

  <!-- Validation Container -->
  <app-validation-container
    [valid]="isValid()"
    [invalid]="!isValid() && isTouched()"
    [showError]="showCheckboxError()"
    [showHelp]="showHelp()"
    [elementData]="elementData"
    [cssClassOverride]="'fieldset-validation'">
  </app-validation-container>

</app-field-group>
