<app-field-group
  [groupTitle]="elementData.label"
  [valid]="isValid()"
  [wrapperCssClass]="elementWrapperClass"
  [fieldsetCssClass]="elementFieldsetClass"
  [invalid]="!isValid() && isTouched()"
  [labelConfig]="getLabelConfig()"
  [formGroup]="formGroup">

  <span *ngFor="let option of elementData.options" [formGroup]="checkboxGroup">

     <!-- Checkbox -->
     <input id="{{elementData.inputId}}_{{option.value}}_id" type="checkbox" name="{{elementData.inputId}}" value="{{option.value}}"
            class="{{elementInputClass}}"
            formControlName="{{option.value}}"
            (click)="activateValidationListener()"
            [appDefaultAccessibility]="getElementData(option)">

     <!-- Checkbox Label -->
    <label
      class="{{elementOptionLabelClass}}"
      [attr.aria-label]="option.display"
      [attr.data-test-id]="elementData.getTestId(option.value + '_label')"
      for="{{elementData.inputId}}_{{option.value}}_id">{{option.display}}</label><br>

  </span>

  <!-- VALIDATION MESSAGES -->
  <app-validation-messages [elementData]="elementData" [hasError]="invalid()" [hasFocus]="hasFocus()"></app-validation-messages>

</app-field-group>
