<app-field-group
  [groupTitle]="elementData.label"
  [valid]="isValid()"
  [invalid]="!isValid() && isTouched()">
  <span *ngFor="let option of elementData.options" [formGroup]="checkboxGroup">
     <input
       formControlName="{{option.value}}"
       id="{{option.value + '_id'}}"
       type="checkbox"
       name="{{elementData.inputId}}"
       value="{{option.value}}">
     <label for="{{option.value + '_id'}}">{{option.display}}</label><br>
  </span>
  <app-validation-container
    [valid]="isValid()"
    [invalid]="!isValid() && isTouched()"
    [showError]="showCheckboxError()"
    [showHelp]="showHelp()"
    [elementData]="elementData"
    [cssClassOverride]="'fieldset-validation'">
  </app-validation-container>
</app-field-group>
