<app-field-group
  [groupTitle]="elementData.label"
  [valid]="isValid()"
  [invalid]="!isValid() && isTouched()"
  [wrapperCssClass]="elementWrapperClass"
  [fieldsetCssClass]="elementFieldsetClass"
  [labelConfig]="getLabelConfig()"
  [formGroup]="formGroup">
  <div role="radiogroup">

    <!-- OPTIONS -->
    <span *ngFor="let option of elementData.options">

      <!-- OPTION INPUT -->
      <input id="{{elementData.inputId}}_{{option.value}}_id" name="{{elementData.inputId}}" value="{{option.value}}" type="radio"

        formControlName="{{elementData.inputId}}"
        (click)="activateValidationListener()"
        [appDefaultAccessibility]="getElementData(option)"
        [attr.aria-invalid]="!valid()">

      <!-- OPTION LABEL -->
      <label
        [attr.aria-label]="option.display"
        [attr.data-test-id]="elementData.getTestId(option.value + '_label')"
        for="{{elementData.inputId}}_{{option.value}}_id">{{option.display}}</label><br>

    </span>
  </div>

  <!-- VALIDATION MESSAGES -->
  <app-validation-messages [elementData]="elementData" [hasError]="invalid()" [hasFocus]="hasFocus()"></app-validation-messages>

</app-field-group>
