<app-field-group
  [groupTitle]="elementData.label"
  [valid]="isValid()"
  [invalid]="!isValid() && isTouched()"
  [wrapperCssClass]="elementWrapperClass"
  [fieldsetCssClass]="elementFieldsetClass"
  [labelConfig]="getLabelConfig()"
  [formGroup]="formGroup">

  <!-- OPTION GROUPS -->
  <span *ngFor="let optionGroup of elementData.optionGroups">

    <!-- OPTION GROUP LABEL -->
    <app-group-label
      [labelConfig]="getLabelConfig()"
      [groupName]="optionGroup.groupName"
      [cssParent]="elementGroupLabelClass">
    </app-group-label>

    <!-- OPTIONS -->
    <span *ngFor="let option of optionGroup.options" [attr.labelledby]="toInputId(optionGroup.groupName) + '_optionGroup_label'">

      <!-- OPTION INPUT -->
      <input id="{{elementData.inputId}}_{{option.value}}_id" name="{{elementData.inputId}}" value="{{option.value}}" type="radio"

             formControlName="{{elementData.inputId}}"
             (click)="activateValidationListener()"
             [appDefaultAccessibility]="getElementData(option)"
             [attr.aria-invalid]="!valid()">

      <!-- OPTION LABEL -->
      <label
        [id]="elementData.inputId + '_' + toInputId(option.display)"
        [attr.aria-label]="elementData.inputId + '_' + toInputId(option.display) + '_option_label'"
        [attr.data-test-id]="elementData.getTestId(option.value)"
        for="{{elementData.inputId}}_{{option.value}}_id">{{option.display}}</label><br>

    </span>
  </span>

  <!-- VALIDATION MESSAGES -->
  <app-validation-messages [elementData]="elementData" [hasError]="invalid()" [hasFocus]="hasFocus()"></app-validation-messages>

</app-field-group>
